In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
%matplotlib inline

In [5]:
#Loading the dataeset into the dataframe

data= pd.read_csv('creditcard.csv')

In [6]:
#Rows of the datset

data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
#Dataset infomration

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
#Checking for missing values in each colum

data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
# Distribution of Normal Transaction & Fradulent Transcations
# 0 are Normal Transaction
# 1 are Fradulent Transcations

data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [10]:
#Seperating the data for analysis

normal = data[data.Class == 0]
fraud = data[data.Class == 1]

In [11]:
print(normal.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [12]:
#Statistical measures of the data

data.Amount.describe()

count    284807.000000
mean         88.349619
std         250.120109
min           0.000000
25%           5.600000
50%          22.000000
75%          77.165000
max       25691.160000
Name: Amount, dtype: float64

In [13]:
#Cmpare the values for both transactions

data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [14]:
#Number of Fraudulent Transactions

normal_sample = normal.sample(n=500)

In [15]:
#Concatenating two DataFrames

new_dataset = pd.concat([normal_sample, fraud], axis=0)

In [16]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
78557,57584.0,-1.170797,-0.310747,1.774646,-1.029274,-1.631977,0.724147,-0.588130,0.790738,-0.730487,...,0.199381,0.559597,0.194283,0.024863,-0.211612,-0.276487,-0.027755,-0.007843,126.35,0
58972,48628.0,-0.470341,0.598957,1.598519,-0.567481,0.763678,-0.189256,0.890755,-0.251751,0.154708,...,-0.075221,0.159819,-0.396228,-0.379022,0.171341,0.229682,-0.089236,-0.110919,1.00,0
76500,56599.0,-0.938167,0.776327,1.828883,0.155874,0.019897,-1.114556,1.063136,-0.080874,-0.510687,...,0.124520,0.095359,-0.208801,0.666222,0.625248,-0.425002,-0.001379,0.068484,56.99,0
124831,77438.0,1.213083,-1.581627,0.769055,-1.276743,-2.104984,-0.581667,-1.276209,0.030352,-1.703629,...,0.062184,0.231193,-0.076951,0.513837,0.199991,-0.142385,0.018314,0.037206,130.00,0
227811,145231.0,-0.886328,0.825934,1.253137,-0.562369,-0.538536,-0.542894,-0.032865,0.526284,0.308714,...,0.253895,0.810952,-0.234653,0.094260,-0.073665,0.633309,0.212842,0.123439,11.35,0

In [17]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [18]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,97112.076000,0.058330,-0.042879,-0.081361,0.064829,0.012237,0.036590,0.035382,-0.078249,-0.030024,...,0.049537,0.036981,0.014933,-0.032296,-0.024586,0.008848,-0.035350,0.006081,-0.007521,106.722120
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [19]:
#Splitting the data into Features & Targets

X = new_dataset.drop(columns='Class' , axis=1)
Y = new_dataset['Class']

In [20]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
78557    57584.0 -1.170797 -0.310747  1.774646 -1.029274 -1.631977  0.724147
58972    48628.0 -0.470341  0.598957  1.598519 -0.567481  0.763678 -0.189256
76500    56599.0 -0.938167  0.776327  1.828883  0.155874  0.019897 -1.114556
124831   77438.0  1.213083 -1.581627  0.769055 -1.276743 -2.104984 -0.581667
227811  145231.0 -0.886328  0.825934  1.253137 -0.562369 -0.538536 -0.542894
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
78557  -0.588130  0.790738 -0.730487  ... -0.107400  0.199381  0.559597
58972   0.890755 -0.251751  0.154708  ... -0.002267 -0.075221  0.159819
76500   1.063136 -0.080874 -0.510687  ... -0.084370  0.124520  0.095359
124831 -1.276209  0.030352 -1.703629  ... -0.151025  0.062184  0.231193
227811 -0.032865  0.526284  0.308714  ... -0.081972  0.253895  0.810952
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
78557   0.194283  0.024863 -0.211612 -0.276487 -0.027755 -0.007843  126.35
58972  -0.396228 -0.379022  0.171341  0.229682 -0.089236 -0.110919    1.00
76500  -0.208801  0.666222  0.625248 -0.425002 -0.001379  0.068484   56.99
124831 -0.076951  0.513837  0.199991 -0.142385  0.018314  0.037206  130.00
227811 -0.234653  0.094260 -0.073665  0.633309  0.212842  0.123439   11.35
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[992 rows x 30 columns]

In [21]:
print(Y)

78557     0
58972     0
76500     0
124831    0
227811    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 992, dtype: int64

In [22]:
#Split the data into Training data & Testing Data

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [23]:
print (X.shape, X_train.shape, X_test.shape)

(992, 30) (793, 30) (199, 30)

In [24]:
#Logical Regression

model = LogisticRegression()

In [25]:
#Training the Logistic Regression Model 

model.fit(X_train, Y_train)

C:\Users\alext\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()